<div class="jumbo">
  <div class="right"></div>
  <h2>Quote Note</h2>
  <p>
    The Quote Note app is a delightful project created to send custom messages to yourself or to a loved on your own schedule.
    With this app, you don't have to worry about not having service on your relatives birthday with the ability to cater the message. You can also use a collection of quotes to send to yourself, may it be a reminder or just a nice vibe.
Have fun!
  </p>
{{#link-to "contact" class="button"}}
Contact Us
{{/link-to}}
</div>
