<div class="jumbo">
  <div class="right"></div>
  <h2>Contact Us</h2>
  <p>Quote Note is here to help <br>answer
    any questions you may have.</p>
  <p>
    Quote Note
    <address>
      123 Albatross Avenue<br>
      Purcellville, VA 20132
    </address>
    <a href="tel:572.555.0987">+1 (572) 555-0987</a><br>
    <a href="mailto:helper@quotenoteapp.com">helper@quotenoteapp.com</a>
  </p>
</div>
